table, th, td {
    border: 1px solid black;
    text-align: right;
    padding: 10px;
}

.error-message {
    color: red;
}

button {
    margin: 20px 0px;
}

.total-cart-price {
    font-weight: bold;
}